{
  "id": "xxxxxxxxxxxxxxxxxx",
  "service_account_id": "xxxxxxxxxxxxxxxxxxxxxx",
  "created_at": "xxxxxxxxxxxxxxxxxxxxxxxxx",
  "key_algorithm": "RSA_2048",
  "public_key": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx",
  "private_key": "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
}
