  cloud_id  = "b1gulp4hfXXXXXXXXXXX"
  folder_id = "b1gsnn20hXXXXXXXXXXX"
  zone      = "ru-central1-a"
  service_account_key_file = "path_to_your/key.json"
  public_key_path = "path_to_your/ubuntu.pub"
  private_key_path = "path_to_your/ubuntu"
  image_id = "fd8an808ivtptq6jemm6"
  subnet_id = "e9b4tphlh2sjr6g0j2cq"
