{
   "id": "ajemo9th6h3un6b83o9f",
   "service_account_id": "aje88mesier8dgjf7g2m",
   "created_at": "2023-12-03T09:55:13.769584415Z",
   "key_algorithm": "RSA_2048",
   "public_key": "-----BEGIN PUBLIC KEY-----\nMIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAmL1iOllc0XoRhVFq77i2\nuEl8GCub6roIUgMIoZ06rEaOKGz/K8zzqrxWgm1MWe/N0MiHvDn83jsAO8fquXO0\nB5aoBLR4DqVgp9ZVxF8ocytY6MGEpijIuYqi4tvghDY3WyzFeJKiLmy0nGyMsfLF\nhLMc50e+0jYNvRwtLTTenZeIcBb2cFU5MN7gVLmmr88TVN/IA+o8MGQIKxvSBYdY\n+xShsijQm5S29bAx1l41Lp8PnBPXEQsGkxMynf1Ike67CTgdX39EO9eTs5nFQnva\nVvq3ISWNfN17ED2CDg8F22mpWbivlj3q/cvOh0Bd1OXJFiiWVHznfZNLz4bgCpis\nxwIDAQAB\n-----END PUBLIC KEY-----\n",
   "private_key": "PLEASE DO NOT REMOVE THIS LINE! Yandex.Cloud SA Key ID \\n-----END PRIVATE KEY-----\n"
}
