v_ansible/
v1_ansible/
*.old
../terraform/.gitignore
../terraform/.terraform.lock.hcl
../terraform/files/
../terraform/outputs.tf
../terraform/prod/.terraform.lock.hcl
../terraform/prod/backend.tf
../terraform/prod/outputs.tf
../terraform/stage/.terraform.lock.hcl
../terraform/stage/backend.tf
../terraform/stage/outputs.tf
