yc_token     = "y0_AgAAAABnLd1xAATuwQAAAADx1Dxxxxxxxxxxxxxxxxx"
cloud_id                 = "b1gulp4hfrunfqk3lttb"
folder_id                = "b1gsnn20hr06bqfra90t"
zone                     = "ru-central1-a"
service_account_key_file = "xxxxxxxxx/key.json"
public_key_path          = "xxxxxxxxx/ubuntu.pub"
private_key_path         = "xxxxxxxxx/ubuntu"
image_id                 = "fd8an808ivtptq6jemm6"
subnet_id                = "e9b4tphlh2sjr6g0j2cq"
app_disk_image           = "fd8atnk3t60s5fmiaqil"
db_disk_image            = "fd8u6gsncuov2n36bcrt"
environment_space        = "stage"
access_key               = "YCAJEHdVd2Qxxxxxxxxxxxxx"
secret_key               = "YCNOs05Dxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx"
